/**
 * User: mario.krstic
 * Date: 29.03.2017
 */
body{
    background-color: royalblue;
}

h1{
    text-align: center;
    font-weight: bold;
}

h4{
    text-align: center;
}

/*header.php | Logo in der Navigationsleiste*/
#nav-logo{
    height: 20px;
}

/*order-sheet.php | Abrunden der Kanten des Well's sowie dessen Hintergrundfarbe*/
.well{
    /*background-color:;*/
    border:none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*order-sheet.php | Richtige Zentrierung der Wall's in der Zeile bei Responsivität */
.row-div{
    width: auto;
    display: flex;
    justify-content: center;
}

/*order-sheet.php | Richtige Zentrierung der Formulars Responsivität */
.form-well{
    width: auto;
}

/*order-sheet.php | Stylen des Formulars*/
@media only screen and (min-width: 760px){
    .fieldset{
        width: 600px;
    }

    #bearbeiter{
        width: 173px;
    }

    #zust-int{
        width: 173px;
    }

    #kunde{
        width: 350px;
    }

    #betriebssystem{
        width: 141px;
    }

    #edition-betriebsys{
        width: 139px;
    }

    #architektur{
        width: 139px;
    }

    #sprache{
        width: 139px;
    }

    #office{
        width: 141px;
    }

    #edition-office{
        width: 139px;
    }

    #vierenschutz{
        width: 141px;
    }

    #textarea-geraetepruefung{
        margin-left: 79px;
        width: 376px;
    }

    #case-id{
        margin-left: 43px;
        width: 187px;
    }

    #termin-techniker{
        width: 187px;
    }

    #textarea-entsorgung-altgeraet{
        margin-left: 20px;
        width: 376px;
    }

    .arbeiten-checkboxen{
        text-align: center;
    }

    .checkbox-reihe-signierung{
        margin-right: 20px;
    }

    #signatur-bearbeiter{
        margin-left: 20px;
        margin-right: 42px;
        width: 141px;
    }

    #textarea-signatur{
        width: 376px;
    }
}


.buttons-form{
    display: flex;
    justify-content: center;
}

.form-submit{
    margin-right: 5px;
}